*{
  margin: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}

.navbar{
  width: 100%;
  height: 50px;
  background-color:black;
}

.navbar-container{
  display: flex;
  align-items: center;
  /* background-color: greenyellow; */
  padding: 0 50px;
  height:100%;
  color:white;
  font-family: 'Sen', sans-serif;
}

.logo-container{
  flex: 1;
}

.logo{
  /* font-family: 'Sen', sans-serif; */
  font-size: 30px;
  color: #3dbf00;
  /* background-color: red; */
}

.menu-container{
  flex: 6;
  /* background-color: blue; */
}

.menu-list{
  display: flex;
  list-style: none;
}

.menu-list-item.active{
  font-weight: bold;
}

.menu-list-item{
  margin-right: 30px;
}

.profile-container{
  flex: 2;
  display: flex;
  align-items: center;
  /* background-color: green; */
  justify-content: flex-end;
}

.profile-text-container{
  margin: 0 20px;
}

.profile-picture{
  width:32px;
  height:32px;
  border-radius: 50%;
  object-fit: cover; /*ปรับสัดส่วนรูป*/
}

.toggle{
  width:40px;
  height:20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 30px;
  position: relative;
}

.toggle-icon{
  color:goldenrod;
}

.toggle-ball{
  width: 18px;
  height: 18px;
  background-color:black;
  position: absolute;
  right: 1px;
  border-radius:50%;
  cursor: pointer;
}

.sidebar{
  width: 50px;
  height: 100%;
  background-color:black;
  position:fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.left-menu-icon{
  color:white;
  font-size: 20px;
  margin-bottom: 40px;
}

